*{padding: 0;margin: 0;border: 0;scroll-behavior: smooth;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
button,textarea{
    font-family:inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -khtml-appearance: none;
    -o-appearance: none;}
input:-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

body {
    width: 100%;
    font-family: 'Aleo';
    font-size: 400;
}

.wrapper {
    min-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: content-box;
}
@media (max-width: 390px) {
    .container {
        max-width: 390px;
    }
}
.ibg {
    position: relative;
}
.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/*--------шапка-----------------------------------------------*/
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
}
.header__container {
    display: flex;
    min-height: 90px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.header__logo {
    margin: 0 0 0 8.3%;
    display: flex;
    align-items: center;
}
.header__pickter {
    padding-bottom: 6px;
}
.header__logo-text {
    margin-left: 6px;
    font-family: 'Magra';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.menu__list {
    margin: 0 0 0 6rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu__list :hover {
    color: #0D606F;
    transition: 1s;
    
}
.menu__list li :not(.item__end) {
    margin: 0 3rem 0 0;
    padding: 0 0 0 0;
}
.menu__link {
    font-family: 'Red Hat Text';
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    line-height: 131%;
}
.item__end {
    margin: 0px 42px 0px 0px;
}
.item__390 {
    display: none;
}
.header__button_a{
    margin: 0 8.3% 0 2%;
}
.header__button {
    padding: 10px 30px;
    font-family:'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}
.header__button:hover {
    color:#0D606F;
    background-color: #fff;
}
.burger__container {
    display: none;
}
@media (max-width: 1026px){
    .header__logo {
        margin: 0 0 0 2%;
    }
    .header__button {
        margin: 0 2% 0 1%;
    }
    .item__end {
        margin: 0px 5px 0px 0px;
    }
}
@media (max-width: 767px) {
    .header__logo-text {
        margin-left: 3px;
        font-size: 28px;
        line-height: 24px;

    }
    .menu__item {
        margin: 0 5px;
        padding-left: 40px;
    }
    .menu__list {
        margin: 0 0 0 -5%;
    }
    .menu__list li :not(.item__end) {
        margin: 0 1rem 0 0;
    }
}

@media (max-width: 390px) {
    .header{
        display: block;
        top: -1000%;
        max-width: 42%;
        width: 100%;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        transition: all 0.4s ease 0s;
    }
    .header.active {
        position: absolute;
        display: block;
        left: 58%;
        top: 0px;
        max-width: 42%;
        width: 100%;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
        z-index: 5;
        transition: all 0.3s ease 0s;
       
    }
    .header__menu {
        padding: 0;
        margin: 26% 0 0px 20%;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .header__container {
        background-color: rgba(242, 120, 92);
    }
    .item__end {
        margin: 0;
        text-align: right;
    }
    .menu__item {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 1rem;
        line-height: 131%;
    }
    .menu__list li:nth-child(2) {
        white-space: nowrap;
    }
    .menu__list li:not(:first-child) {
        padding: 10px 0 0 0;
    }
    .item__390 {
        display: block;
    }
    .menu__list li:nth-child(6) {
        margin-bottom: 22%;
    }
    .header__logo {
        display: none;
    }
    .header__button {
        display: none;
    }
    .burger__container {
        padding: 0 16px;
        display: block;
        position: absolute;
        top: 45px;
        max-width: 390px;
        width: 100%;
        object-fit: cover;
        z-index: 11;
    }
    .burger__container.active {
        padding: 0 16px;
        display: block;
        position: absolute;
        top: 45px;
        max-width: 390px;
        width: 100%;
        object-fit: cover;
        z-index: 10;
    }
    .header__burger {
        display: inline-block;
        position: absolute;
        width: 25px;
        height: 15px;
        right: 22px;
        top: 7px;
    }
    .header__burger.active {
        display: inline-block;
        position: absolute;
        width: 25px;
        height: 15px;
        right: 32%;
        top: -39px;
        z-index: 10;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 25px;
        height: 3px;
        border-radius: 30px;
    }
    .header__burger span{
        display: inline-block;
        position: absolute;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        top: 6px;
        border-radius: 30px;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger.active::after {
        transform: rotate(45deg);
        bottom: 0;
        height: 1px;
        width: 20px;
    }
    .header__burger.active::before {
        transform: rotate(-45deg);
        top: 14px;
        height: 1px;
        width: 20px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
/*------------пилим бургер меню для шапк------------*/
}
.page {
    flex: 1 1 auto;
}
/*----------------основной контент-вступление-----------------------*/

.planning__container-body {
    margin: 0;
    padding: 122px 0 221px 120px;
    max-width: 892px;
}
.planning__h1 {
    position: relative;
    margin: 0;
    font-family: 'Aleo';
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    color: #FFFFFF;
    scroll-behavior: smooth;
    z-index: 3;
}
.planning__text {
    margin: 33px 0 0 0;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
    z-index: 3;
}
.planning__input {
    margin: 44px 0 35px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 892px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    z-index: 1;
}
.input {
    margin: 33px 1px 36px 5%;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    color: #F2785C;
    background: transparent;
    border: none;
    outline: none;
}
.input::placeholder {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 110%;
    color: #f2785c;
  }
.search__button{
    margin: 0 18px 0 0;
    padding: 18px 33px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

}
.search__button:hover {
    color:#0D606F;
    background-color:#F2785C;

}
.planning-block__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media (max-width: 768px) {
    .planning__container-body {
        margin: 0;
        padding: 122px 0 221px 10px;
        max-width: 100%;
    }
    .planning__h1 {
        font-size: 48px;
        line-height: 100%;
    }
    .planning__text {
        margin: 20px 0 0 0;
        font-size: 18px;
        line-height: 100%;
    }
    .planning__input {
        margin: 30px 0 35px 0;
        max-width: 600px;
        width: 100%;
    }
    .input {
        width: 100%;
        margin: 33px 0px 36px 5%;
        font-size: 20px;
        line-height: 110%;
        color: #F2785C;
    }
    .search__button{
        margin: 0 5px 0 1%;
        padding: 10px 15px;
        font-size: 20px;
    }

}
@media (max-width: 425px) {
    .planning__container-body {
        margin: 0;
        padding: 122px 0 221px 5px;
        max-width: 400px;
    }
    .planning__h1 {
        font-size: 42px;
        line-height: 80%;
    }
    .planning__text {
        margin: 20px 0 0 0;
        font-size: 18px;
        line-height: 80%;
    }
    .planning__input {
        margin: 30px 0 35px 0;
        max-width: 380px;
        width: 100%;
    }
    .input {
        margin: 15px 0 15px 5px;
        font-size: 10px;
        line-height: 80%;
        color: #F2785C;
    }
    .input::placeholder {
        font-size: 12px;
        line-height: 90%;
      }
    .search__button{
        margin: 0 9px 0 0;
        padding: 8px 9px;
        font-size: 18px;
        font-size: 11px;
        line-height: 15px;
    }
}
@media (max-width: 390px) {
    .planning__container-body {
        margin: 0;
        padding: 122px 0 27px 0;
        max-width: 390px;
        background:linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(../image/390\ bakc-ground.jpg) no-repeat;
        background-size: 100%;
    }
    .planning__h1 {
        display: none;
    }
    .planning__text {
        display: none;
    }
    .planning__input {
        margin: 20px 0 35px 15px;
        padding-left: 3%;
        max-width: 92%;
    }
    .input::placeholder {
        padding: 0 0 0 0;
        font-size: 18px;
        line-height: 80%;
        font-size: 14px;
        line-height: 17px;
      }
    .input {
        font-size: 18px;
        line-height: 80%;
        font-size: 14px;
        line-height: 17px;
    }
    .search__button{
        min-width: 90px;
        margin: 0 9px 0 0;
        padding: 8px 0px;
        font-size: 18px;
        font-size: 11px;
        line-height: 15px;
    }
    .planning-block__img {
        display: none;
  
    }
}

/*-----------контент-3-шага--------------------------------------------------------------*/

.steps__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.steps__h2 {
    margin-top: 80px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 132.5%;
    color: #F2785C;
    scroll-behavior: smooth;
}
.steps__columns {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 93%;
}
.steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}
.bycicle {
    padding: 28px 25px 27px 25px;
}
.calc {
    padding: 24px;
}
.fly {
    padding: 28px 20px 27px 20px;
}
.bycicle390{
    display: none;
}
.calc390 {
    display: none;
}
.fly390 {
    display: none;
}
.redaction {
    margin: 0 0 0 70px;
}
.steps__item-img img{
    background-color: #F2785C;
    border-radius: 16px;
    object-fit: cover;
}
.steps__text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 0;
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #0D606F;
}
@media (max-width: 1024px) {
    .steps__columns {
        margin: 20px 0 0 0;
        width: 100%;
    }
    .steps__text {
        margin: 20px 0 0 0;
        text-align: center;
        font-size: 16px;
        line-height: 12px;
        text-align: right;
    }
}
@media (max-width: 768px) {
    .bycicle {
        padding: 19px 17px 19px 18px;
    }
    .calc {
        padding: 18px 17px 17px 18px ;
    }
    .fly {
        padding: 20px 15px;
    }
    .steps__h2 {
        margin: 5% 0;
        font-family: 'Red Hat Text';
        font-weight: 500;
        font-size: 20px;
        line-height: 19px;
    }
    .steps__text {
        margin: 0;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
    }
    .steps__columns> :nth-child(2) {
        margin-right: 2%;
    }
}
@media (max-width: 390px) {
    .bycicle {
        display: none;
    }
    .calc {
        display: none;
  
    }
    .fly {
        display: none;
    }
    .bycicle390{
        display: block;
        margin: 0;
        padding: 19px 17px 19px 18px;
    }
    .calc390 {
        display:block;
        padding: 18px 17px 17px 18px ;
    }
    .fly390 {
        display:block;
        padding: 20px 15px;
    }
    .steps__h2 {
        font-size: 14px;
        line-height: 19px;
    }
    .steps__columns {
        width: 100%;
        margin: 0;
    }
    .steps__columns> :nth-child(1) {
        margin-left: 2%;
    }
    .steps__columns> :nth-child(2) {
        margin-right: 10%;
    }
    .steps__columns> :nth-child(3) {
        margin-left: 5%;
    }
    .steps__columns> :nth-child(1)>.steps__text {
        margin: 20px 0 20px 0;
        padding: 0 0 0 15px;
        width: 120%;
        text-align: left;
    }
    .steps__columns> :nth-child(2)>.steps__text {
        margin: 20px 0 32px 0 ;
        width: 160%;
        text-align: center;
    }
    .steps__columns> :nth-child(3)>.steps__text {
        margin: 20px 0 20px 0 ;
        padding: 0 16px 0 0;
        text-align: right;
    }
}
@media (max-width: 360px) {
    .steps__item {
        text-align:inherit ;
        margin: 0 5%;
    }
    .bycicle390{
        display: block;
        margin: 0;
        padding: 12px 10px 12px 10px;
    }
    .calc390 {
        display:block;
        padding: 11px 11px 11px 11px ;
    }
    .fly390 {
        display:block;
        padding: 13px 7px;
    }
    .steps__text {
        font-size: 8px;
        line-height: 8px;
    
    }
    .steps__h2 {
        margin: 5% 0;
    }
    
}

/*-------------------слайды---------------------------------------------------*/
.destinations {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.destination__containe {
    margin: 97px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.destination__h2 {
    margin: 0 0 46px 0;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.slaid_container {
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
	margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.slider-line {
    width: 100%;
	display: flex;
	position: relative;
	left: -100%;
	transition: all 1s ease;
}
.slider-line img {
    width: 100%;
	margin: 0 30px;
    border-radius: 16px;
}
.slider-prev {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 17.3%;
	opacity: 0;
}
.slider-next {
	position: absolute;
	top:0;
	right: 0;
	height: 100%;
	width: 18.7%;
	opacity: 0;
}
.slider-next__little{
display: none;
}
.slider-prev__little{
display: none;
}
.destination__text {
    margin: 718px 677px 40px 15px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    }
.destination__radio {
    display: flex;
    justify-content: center;
}
input[type='radio']{
    display: none;
}
input[type='radio'] + label{
    margin: 24px 5px;
    height: 20px;
    width: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    cursor: pointer;
}
input[type='radio']:checked + label{
    background-color: #F2785C;
}
.round {
    margin: 24px 5px;
    height: 20px;
    width: 20px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}
.round input {
    display: block;
    height: 20px;
    width: 20px;
}
.destination__button {
    margin-top: 17px;
    padding: 14px 31px 14px 81px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: url(../image/arrow.svg) 16% 53% no-repeat;
    background-color:  #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}
.destination__button:hover {
    color:#0D606F;
    background-color:#F2785C;
}
.container-mini{
    display: none;
}
.slider-mini{
    display: none;
}
@media (max-width: 767px) {  
    .destination__text {
        margin: 384px 315px 40px 20px;
        font-size: 32px;
        line-height: 42px;
        }
        .destination__h2 {
            margin: 0 0 35px 0;
            font-family: 'Red Hat Text';
            font-weight: 500;
            font-size: 30px;
            line-height: 43px;
            color: #F2785C;
        }
        .destination__containe {
            margin: 32px 0 0 0;
        }
}
@media (max-width: 390px) {
    .slider-prev {
        display: none;
        position: absolute;
        top:40%;
        left: 4%;
        height: 20%;
        width: 10%;
        opacity: 1;
        background: url(../image/arrow_left.svg) no-repeat;
        background-position: 50% 50%;
    }
    .slider-next {
        display: none;
        position: absolute;
        top:40%;
        right: 4%;
        height: 20%;
        width: 10%;
        opacity: 1;
        background: url(../image/arrow_right.svg) no-repeat;
        background-position: 50% 50%;
    }
    .slider-prev__little{
        display: block;
        position: absolute;
        top:40%;
        left: 4%;
        height: 20%;
        width: 10%;
        opacity: 1;
        background: url(../image/arrow_left.svg) no-repeat;
        background-position: 50% 50%;
    }
    .slider-next__little{
        display: block;
        position: absolute;
        top:40%;
        right: 4%;
        height: 20%;
        width: 10%;
        opacity: 1;
        background: url(../image/arrow_right.svg) no-repeat;
        background-position: 50% 50%;
    }
    .destination__radio{
        position: absolute;
        bottom: 30px;;
        left: 175px;
    }
    input[type='radio'] + label{
        margin: 24px 3px;
        height: 8px;
        width: 8px;
    }
    .destination__containe {
        margin: 0 0 0 0;
    }
    .slider-line{
        display: none;
    }
    .slaid_container {
        max-width: 1440px;
        min-width: 320px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .container-mini{

        margin: 0 15px;
        display: flex;
        overflow: hidden;
        border-radius: 16px;
    }
    .slider-mini{
        display: flex;
        background-color: aqua;
        transition: all 1s ease;
    }
    .slider-mini img{
        width: 360px;
    }
    .destination__h2 {
        margin: 0 0 20px 0;
        font-size: 14px;
        line-height: 19px;
    }
    .destinations {
        max-width: 390px;
    }
    .spain {
        background:url(../image/spain_390.jpg )no-repeat;
        border-radius: 16px;
        margin:0 15px;
        width: 100%;
    }
    .japan {
        display: none;
    }
    .usa {
        display: none;
    }
    .destination__text {
        flex: 1 1 auto;
        margin: 8px 285px 176px 15px;
        font-size: 20px;
        line-height: 26px;
        }
        .round {
            margin: -20px 5px 0 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        .destination__radio :nth-child(1) {
            background-color: #F2785C;
        }
        .destination__radio :nth-child(2) {
            background-color: rgba(242, 120, 92, 0.5);
        }
        .destination__button {
            margin-top: 10px;
            padding: 7.5px 12px 7.5px 28px;
            font-size: 11px;
            line-height: 15px;
            background: url(../image/arrow_360t.svg) 16% 53% no-repeat;
            background-color:  #0D606F;
        }
}
@media (max-width: 360px) {
        .destination__text {
            flex: 1 1 auto;
            margin: 8px 240px 136px 15px;
            font-size: 20px;
            line-height: 26px;
        }}
/*------------------------stories-----------------------------*/

.stories {
    margin-top: 0;
}
.stories__container {
   background: url(../image/ship_background.jpg) no-repeat;
}

.stories__background {
    padding: 40px 0 0 0;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story__all {
    display: flex;
    margin: 0 120px 0 120px;
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    color: #0D606F;
}
.story__all img {
    border-radius: 16px;
    margin: 0 40px 30px 0;
    filter: drop-shadow(0px 4px 4px #0D606F);
}
.stories__h2 {
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}
.story__all {
    font-family: 'Aleo', sans-serif;
    font-weight: 400;
    color: #0D606F;
}
.story__all img:nth-child(2) {
    display: none;
}
.story__all img{
    filter: drop-shadow(0px 4px 4px #0D606F);
    
}
.story__text h3 {
    margin-bottom: 24px;
    font-size: 35px;
    line-height: 42px;
}
.story__text p {
    font-size: 20px;
    line-height: 24px;
}
.story__text :nth-child(3) {
display: none;
}

.story__text span {
    display: inline-block;
    font-weight: bold;
    line-height: 12px;
    border-bottom: 2px solid #0D606F;
}
.stories__button {
    margin: 10px 0 40px 0;
    padding: 14px 38px 14px 81px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: url(../image/arrow.svg) 16% 53% no-repeat;
    background-color:  #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}
.stories__button:hover {
    color:#0D606F;
    background-color:#F2785C;
}
@media (max-width: 1260px) {
    .stories__container {
        background: url(../image/ship_background.jpg)  0 0/100% 100% no-repeat;
     }
}
@media (max-width: 1024px) {
    .story__all {
        margin: 0 5px 0 5px;
    }
    .story__all img{
        object-fit: cover;
    }
}
@media (max-width: 770px) {
    .story__all img:nth-child(1) {
        display: none;
    }
    .story__all img:nth-child(2) {
        display: inline-block;
    }
    .story__all img{
        object-fit: none;
    }
    .story__text h3 {
        margin-bottom: 12px;
        font-size: 25px;
        line-height: 34px;
    }
    .story__text p {
        font-size: 9px;
        line-height: 11px;
    }
    .story__text span {
        line-height: 12px;
    }

}
@media (max-width: 520px) {
    .story__text h3 {
        margin-bottom: 10px;
        font-size: 11px;
        line-height: 13px;
    }
    .story__text p {
        font-size: 9px;
        line-height: 11px;
    }
}
@media (max-width: 390px) {
    .story__text :nth-child(2) {
        display: none;
    }
    .story__text :nth-child(3) {
    display: block;
    }
    .story__all {
        margin: 0 15px;
    }
    .story__all img {
        margin: 0 10px 15px 0;
    }
    .stories__background {
        padding: 10px 0 0 0;
    }
    .stories__h2 {
        margin: 20px 0 10px 0;
        font-size: 14px;
        line-height: 19px;
    }
    .stories__button {
        margin-top: -5px;
        padding: 7.5px 14px 7.5px 30px;
        font-size: 11px;
        line-height: 15px;
        background: url(../image/arrow_360t.svg) 16% 53% no-repeat;
        background-color:  #0D606F;
    }
    .story__text h3 {
        margin: 5px 0 10px 0;
        font-size: 11px;
        line-height: 13px;
        font-weight: bold;
    }
    .story__all:nth-child(1) {
        margin-top: 37px;
    }
    .stories__container {
        background: url(../image/ship_390.jpg) 0 0/390px 693px no-repeat;
     }
     .story__text span {
        display: inline-block;
        font-weight: bold;
        line-height: 4px;
        border-bottom: 1px solid #0D606F;
    }
    .stories__background {
        margin:0;
        padding: 0;
        max-height: 627px;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__git img{
        display: none;
    }
    .footer__text {
        display: none;
    }
    .footer__inst {
        margin: 0 10px 0 0;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 357px) {
    .footer__inst {
        margin: 5% 10px 0 0;
        flex: 1 1 100%;
        justify-content: center;
        align-items: center;
    }
    .stories__background {
        min-height: 690px;
        height: 100%;
    }
    .stories__button {
        margin-top: 5%;
    }
    .stories__container {
        background: url(../image/ship_390.jpg) 0 0/390px 850px no-repeat;
     }
     .story__text {
        text-overflow: clip;
    }
   .story__all {
    margin: 0 1px 0 1px;
    text-overflow: clip;
    }

}



/*------------подвал---------------------------------------------------------*/
.footer__container {
    max-width: 1200px;
    width: 100%;
    min-height: 61px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 33.333%;
}
.footer__git {
    display: flex;
}
.footer__git img{
    margin-right: 20px;
}
.footer__text {
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer__inst {
    display: flex;
}
.footer__inst img{
    align-self:center;
    margin-left: 20px;
}

